.title {
  font-size: 200%;
  text-align: center;
}
.title-small {
  font-size: 175%;
  text-align: center;
}
.text {
  font-size: 125%;
  text-align: center;
}
.text-small {
  font-size: 100%;
  text-align: center;
}
.button {
    text-align: center;
    border-width: 4px;
    border-color: black;
    border-radius: 20px;
    color:black;
    padding: 14px 28px;
    font-size: xx-large;
    cursor:pointer;
    background-color: lightblue;
}
.button-group {
  width:50%;
  text-align: center;
  border-width: 4px;
  border-color: black;
  border-radius: 20px;
  color:black;
  padding: 14px 28px;
  font-size: xx-large;
  cursor:pointer;
  background-color: lightblue;
  float: left;
  }
  
.button-small {
  text-align: center;
  border-width: 4px;
  border-color: black;
  border-radius: 15px;
  color:black;
  padding: 10px 28px;
  font-size: x-large;
  cursor:pointer;
  background-color: lightblue;
}
.button-small-group {
width:50%;
text-align: center;
border-width: 4px;
border-color: black;
border-radius: 15px;
color:black;
padding: 10px 28px;
font-size: x-large;
cursor:pointer;
background-color: lightblue;
float: left;
}
